:root { 
    --negro: #171717;
    --azul: #003057;
    --verde: #76BC21;
    --blanco: #ffffff;
    --montserrat: 'Montserrat', sans-serif;
    --lato:'Lato', sans-serif;
    --defaultMargin: 10px;

}

body{
    margin: 0;
    border: none;
    background-color:var(--azul);
    color: var(--blanco);
    font-family: var(--montserrat);
    overflow-x: hidden;
}



button{
    font-weight: thin;
}

#popup{
    font-family: var(--montserrat);
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    background-color: var(--azul);
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.titulo{
    font-family: var(--lato) !important;
    font-weight: 700;
    color: white;
    font-size: 32px;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateY(-15px);

}


.puntoVerdeTitulo{
    display: inline;
    color: #76BC21;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.nombreEmpresa{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.596);
}

.vectorLinea{
    margin-bottom: var(--defaultMargin);
    margin-top: -15px;
    margin-bottom: var(--defaultMargin);
}



.linkCorreos{
    text-decoration: none;
    color: white;
    padding: 5px;
    position: relative;

}
.linkCorreos :active{
    text-decoration: none;
    color: white;
    position: relative;

}

.linkCorreos:after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(1);
    transform: translateX(-500px);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--verde);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.linkCorreos:hover:after {
    transform: scaleX(1);
    transform: translateX(20px);
    transform-origin: bottom left;
  }




input[type="file" i]{

    box-sizing: border-box;
    width: auto;
    height: auto;
    left: 54px;
    top: 128px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    display: none;
}


.botonSeleccionar{

    color: var(--blanco);
    box-sizing: border-box;
    background-color: var(--azul);
    width: 192px;
    height: 40px;
    left: 54px;
    top: 128px;
    font-size: 13px;
    font-weight: 100;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 15px 5px 7.5px 5px;
    cursor: pointer;

}

.botonSeleccionarText{
    color: var(--blanco);
    font-size: 12px;
    font-weight: 100;
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 5px;

}

.botonSeleccionarText:after {
    content: '';
    position: absolute;
    width: 90%;
    transform: scaleX(1);
    transform: translateX(-500px);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--verde);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.botonSeleccionar:hover .botonSeleccionarText:after {
    transform: scaleX(1);
    transform: translateX(5px);
    transform-origin: bottom left;
  }



.botonSeleccionar:hover {
    transition: linear 100ms;
    border: 2px solid #76BC21;
    text-decoration: underline 1.2px #76BC21;
}



.botonConvert {
    
    background-color: #00000000;
    box-sizing: border-box;
    width: 225px;
    height: 98px;
    border: 1.5px solid #FFFFFF;
    box-shadow: 3px 2px 4px #000000;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    margin: 7.5px 10px 15px 10px;
}



.botonConvertText{
    color: var(--blanco);
    font-size: 24px;
    font-weight: 100;
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 5px;

}

.botonConvertText:after {
    content: '';
    position: absolute;
    width: 90%;
    transform: scaleX(1);
    transform: translateX(-500px);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--verde);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.botonConvert:hover .botonConvertText:after {
    transform: scaleX(1);
    transform: translateX(8px);
    transform-origin: bottom left;
  }



.botonConvert:hover {
    transition: linear 100ms;
    border: 2px solid #76BC21;
    text-decoration: underline 1.2px #76BC21;
}


.botonDescarga{
    height: 50px;
    width: 50px;
    margin: var(--defaultMargin);
}

.version{
    margin: var(--defaultMargin);
    padding: 0;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.596);
}

.margen{
    margin-top: var(--defaultMargin);
}



/*BUSCADOR*/

.contenedorTitulo{
    font-family: var(--lato) !important;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tituloBuscador{
    font-family: var(--lato) !important;
    font-weight: 700;
    color: white;
    font-size: 48px;
    margin: 0;
    padding: 0;
    position: relative;
}

.puntoVerdeTitulo{
    display: inline;
    color: #76BC21;
    font-size: 70px;
    margin: 0;
    padding: 0;
}

.vectorLineaBuscador{
    margin-bottom: var(--defaultMargin);
    margin-top: 15px;
    margin-bottom: var(--defaultMargin);
    width: 100%;
    height: 5px;
}
.contenedorLineas{
    display: flex;
}

.contenedorInput{
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    margin:  0px 0px 15px 0px;
}


.contenedorInput input{
    height: 30px;
    width: 500px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.692);
    background-color: #003057;
    /*background-color: var(--blanco);*/
    color: var(--blanco);
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 8px 7px 29px -1px rgba(0, 0, 0, 0.219);

}


textarea:focus, input:focus select:focus select:active{
    outline: none;
    border: none;
}


.contenedorInput input:active{
    color: var(--blanco);
}

.contenedorInput input::placeholder{
    color: rgba(255, 255, 255, 0.692);
    font-weight: 200;
}

.contenedorSelects{
    margin:  0px 0px 15px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 68px;

}

.contenedorSelects select{
    font-family: var(--montserrat);
    height: 50px;
    width: 300px;
    margin: var(--defaultMargin);
    font-size: 20px;
    /*color: #003057;*/
    /*background-color: rgb(255, 255, 255);*/
    color:var(--blanco);
    background-color: var(--azul);
    border: none;
    box-shadow: 8px 7px 29px -1px rgba(0, 0, 0, 0.219);
    border-bottom: 2px solid rgba(255, 255, 255, 0.692);
}

#respuestaSelect{
    width: 100%;
    display: flex;
    justify-content: center;
}
table {
    width: auto;
    display:block;
}
thead, tbody { display: block; }
thead {
    width: auto;
}
tbody {
    height: 480px;
    overflow-y: auto;
}
  
  

#respuestaSelect th{
    width: 400px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
}

#respuestaSelect th:after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(2);
    transform: translateX(40px);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--verde);
    transform-origin: bottom right;
  }

#respuestaSelect tr{
    
    font-size: 28px;
    text-align: center;

}
#respuestaSelect tr:nth-child(even){
    background-color: #0a3861;
    color: #fff;
  }
#respuestaSelect td{
    width: 400px;
    padding: 10px 0px;
    margin: 0;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.356);
}

h2{
    margin-bottom: 0px !important;
    text-align:center;
    position: relative;
}

